<footer>
  <link rel="stylesheet" href="/style/footer.css" />
  <div class="right">
    <ul>
      <li>@ 2025 Airbnb , in</li>
      <li><a href="/privacy">privacy</a></li>
      <li><a href="/terms">terms</a></li>
      <li><a href="/site map">site map</a></li>
      <li><a href="/comapny details">company details</a></li>
    </ul>
  </div>
  <div class="left">
    <img src="/assessts/world.svg" alt="O" width="30" height="32" />
    <h5><a href="/language">English(IN)</a></h5>

    <h5><a href="/currency"> &#x20B9; &nbsp; INR</a></h5>
    <a href="/facebook"> <i class="fa-brands fa-facebook"></i></a>
    <a href="/x"><i class="fa-solid fa-x"></i></a>

    <a href="/insta"><i class="fa-brands fa-instagram"></i></a>
  </div>
</footer>
